.git/
.github/
.gitignore
.prettierrc.json
.prettierignore
*.vsix
bin/
build/
docs/
node_modules/
src/**
test/
tsconfig.json
.vscode/**
.vscode-test/**
**/.eslintrc.json
**/*.map
**/*.ts
vsc-extension-quickstart.md
